<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spinnaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Spinnaker.Properties.Settings>
            <setting name="api_key" serializeAs="String">
                <value />
            </setting>
            <setting name="api_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="access_tokens" serializeAs="String">
                <value />
            </setting>
            <setting name="settings_updated" serializeAs="String">
                <value>False</value>
            </setting>
        </Spinnaker.Properties.Settings>
    </userSettings>
</configuration>
